<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Search</title>
</head>

<body>
    <div class="container mt-5">
        <div class="product-search">
            <!-- Product Search Title -->
            <h2 class="mb-4">Product Search</h2>
            <form [formGroup]="productForm" (ngSubmit)="onSearch()">
                <!-- Keyword Section -->
                <div class="form-group row mb-3">
                    <label for="keyword" class="col-md-3 col-form-label">Keyword<span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <input type="text" formControlName="keyword" class="form-control" id="keyword" placeholder="Enter Product Name (eg. iPhone 8)" required>
                        <div *ngIf="productForm.controls['keyword'].invalid && productForm.controls['keyword'].touched" class="text-danger">
                            Please enter a keyword
                        </div>                        
                    </div>
                </div>
                <!-- Category Section -->
                <div class="form-group row mb-3">
                    <label for="category" class = "col-md-3 col-form-label">Category</label>
                    <div class = "col-md-9">
                        <select formControlName="category" class="form-control">
                            <option selected>All Categories</option>
                            <option>Art</option>
                            <option>Baby</option>
                            <option>Books</option>
                            <option>Clothing, Shoes & Accessories</option>
                            <option>Computers/Tablets & Networking</option>
                            <option>Health & Beauty</option>
                            <option>Music</option>
                            <option>Video Games & Consoles</option>
                        </select>
                    </div>
                </div>
                <!-- Condistion Section -->
                <div class="form-group row mb-3">
                    <label class="col-md-3 col-form-label">Condition</label>
                    <div class="col-md-9">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="newCondition" name="condition" id="new" value="new">
                            <label class="form-check-label" for="new">New</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="usedCondition" name="condition" id="used" value="used">
                            <label class="form-check-label" for="used">Used</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="unspecifiedCondition" name="condition" id="unspecified" value="unspecified">
                            <label class="form-check-label" for="unspecified">Unspecified</label>
                        </div>
                    </div>
                </div>
                <!-- Shipping Options Section -->
                <div class="form-group row mb-3">
                    <label class="col-md-3 col-form-label">Shipping Options</label>
                    <div class="col-md-9">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="localpickup" value="localpickup" id="localpickup">
                            <label class="form-check-label" for="localpickup">Local Pickup</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="freeshipping" value="freeshipping" id="freeshipping">
                            <label class="form-check-label" for="freeshipping">Free Shipping</label>
                        </div>
                    </div>
                </div>
                <!-- Distance Section -->
                <div class="form-group row mb-3">
                    <label for="distance" class = "col-md-3 col-form-label">Distance (Miles)</label>
                    <div class = "col-md-9">
                        <input type="number" class="form-control" formControlName="distance" id="distance" placeholder="10">
                    </div>
                </div>
                <!-- From Section -->
                <div class="form-group row mb-3">
                    <label for="from" class="col-md-3 col-form-label">From<span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="type" value="currentLocation" id="currentLocation" name="From" checked (change)="getCurrentLocation()">
                            <label class="form-check-label" for="currentLocation">Current Location</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="type" value="otherLocation" id="otherLocation" name = "From">
                            <label class="form-check-label" for="otherLocation">Other. Please specify zip code:</label>
                        </div>
                        <input type="text" formControlName="zipcode" class="form-control mt-2" placeholder="Zip code">
                        <div *ngIf="productForm.controls['zipcode'].invalid && productForm.controls['zipcode'].touched" class="text-danger">
                            Please enter a zip code
                        </div>
                    </div>
                </div>
                <!-- Search & Clear Section -->
                <div class="form-group text-center">
                    <button type="submit" [disabled]= "productForm.invalid" class="btn btn-dark mr-2">Search</button>
                    <button type="reset" class="btn btn-light">Clear</button>
                </div>
            </form>
        </div>
        <!-- For results and wish list buttons -->
        <div class="text-center mt-3">
            <button 
                class="btn mr-2" 
                [ngClass]="{'btn-dark': activeTab === 'results', 'btn-light': activeTab !== 'results'}" 
                (click)="showResults()">Results</button>

            <button 
                class="btn" 
                [ngClass]="{'btn-dark': activeTab === 'wishlist', 'btn-light': activeTab !== 'wishlist'}" 
                (click)="showWishlist()">Wish List</button>
        </div>
    </div>
    <!-- Results Tab -->
    <div *ngIf="displayResults">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Shipping</th>
                    <th>Zip</th>
                    <th>Wish List</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of searchResults">
                    <td>{{ item.index }}</td>
                    <td><img [src]="item.image" alt="Item Image" width="50"></td>
                    <td><a (click)="onProductTitleClick(item.itemId)">{{ item.title }}</a></td>
                    <td>${{ item.price }}</td>
                    <td>{{ item.shipping }}</td>
                    <td>{{ item.zip }}</td>
                    <td><button (click)= "addToWishlist(item)">Add to Wishlist</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Wishlist Tab -->
    <div *ngIf="displayWishlist">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Shipping Option</th>
                    <th>Favorite</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of wishlist; let i = index">
                    <td>{{ item.index }}</td>
                    <td><img [src]="item.image" alt="Item Image" width="50"></td>
                    <td>{{ item.title }}</td>
                    <td>${{ item.price }}</td>
                    <td>{{ item.shipping }}</td>
                    <td><button (click)= "removeFromWishlist(i)">Remove From Wishlist</button></td>
                </tr>
            </tbody>
        </table>
    </div>   
    <!-- Product Details Section -->
    <div *ngIf="productDetails">
        <button  class = 'btn btn-light' (click)="backToList()"> &lt; List</button>
        <div class="d-flex justify-content-end">
            <div class="tab-buttons">
                <button class = 'btn' [ngClass]="{'btn-dark': activeTab === 'product', 'btn-light': activeTab !== 'product'}" (click)="changeTab('product')">Product</button>
                <button class = 'btn' [ngClass]="{'btn-dark': activeTab === 'photos', 'btn-light': activeTab !== 'photos'}" (click)="changeTab('photos')">Photos</button>
                <button class = 'btn' [ngClass]="{'btn-dark': activeTab === 'shipping', 'btn-light': activeTab !== 'shipping'}" (click)="changeTab('shipping')">Shipping</button>
                <button class = 'btn' [ngClass]="{'btn-dark': activeTab === 'seller', 'btn-light': activeTab !== 'seller'}" (click)="changeTab('seller')">Seller</button>
                <button class = 'btn' [ngClass]="{'btn-dark': activeTab === 'similar', 'btn-light': activeTab !== 'similar'}" (click)="changeTab('similar')">Similar Products</button>
            </div>
        </div>
        <!-- Facebook button and Wishlist button here... -->
        <div class="tab-content">
            <!-- Product Tab -->
            <div *ngIf="activeTab === 'product'">
                <table>
                    <tbody>
                        <tr>
                            <td>Product Images</td>
                            <td>
                                <!-- Clicking on this image thumbnail will open a modal with all product images -->
                                <img [src]="productDetails.ProductImages[0]" alt="Product Image" (click)="openImageModal()">
                            </td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>{{ productDetails.Price }}</td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>{{ productDetails.Location }}</td>
                        </tr>
                        <tr>
                            <td>Return Policy (US)</td>
                            <td>
                                Accepted: {{ productDetails.ReturnPolicy.ReturnsAccepted }}
                                Within: {{ productDetails.ReturnPolicy.ReturnsWithin }}
                            </td>
                        </tr>
                        <tr>
                            <td>ItemSpecifics (Name)</td>
                            <td>
                                <ul>
                                    <li *ngFor="let spec of productDetails.ItemSpecifics">{{ spec.name }}: {{ spec.value }}</li>
                                </ul>
                            </td>
                        </tr>
                        <!-- Other fields... -->
                    </tbody>
                    </table>
            </div>
          
            <!-- Photos Tab -->
            <div *ngIf="activeTab === 'photos'">
              <!-- Photos content here -->
            </div>

            <!-- Shipping Tab -->
            <div *ngIf="activeTab === 'shipping'">
                <h3>Shipping Information</h3>
                <table class="table">
                <tbody>
                    <tr *ngIf="productDetails?.shippingServiceCost?.__value__">
                        <td>Shipping Cost</td>
                        <td>{{ productDetails.shippingServiceCost.__value__ }}</td>
                    </tr>
                    <tr *ngIf="productDetails?.shipToLocations">
                        <td>Shipping Locations</td>
                        <td>{{ productDetails.shipToLocations.join(', ') }}</td>
                    </tr>
                    <tr *ngIf="productDetails?.handlingTime">
                        <td>Handling Time</td>
                        <td>{{ productDetails.handlingTime }} Day</td>
                    </tr>
                    <tr>
                        <td>Expedited Shipping</td>
                        <td>{{ productDetails.expeditedShipping }}</td>
                    </tr>
                    <tr>
                        <td>One Day Shipping</td>
                        <td>{{ productDetails.oneDayShippingAvailable }}</td>
                    </tr>
                    <tr *ngIf="productDetails?.ReturnPolicy?.ReturnsAccepted">
                        <td>Return Accepted</td>
                        <td>{{ productDetails.ReturnPolicy.ReturnsAccepted }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
  
          
            <!-- Seller Tab -->
            <div *ngIf="activeTab === 'seller'">
              <!-- Seller information here -->
            </div>
          
            <!-- Similar Products Tab -->
            <div *ngIf="activeTab === 'similar'">
              <!-- Similar products here -->
            </div>
          </div>
        
    </div>

   
    
</body>

</html>